@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin label {
  background: url(../images/online.svg) no-repeat;
  position: absolute;
  width: 18px;
  height: 18px;
}

@mixin label-position($left-indent, $bottom-indent) {
  left: $left-indent;
  bottom: $bottom-indent;
}

