.current-chat {
  flex-grow: 1;

  &__recipient {
    height: $recipient-header-hight;
    box-sizing: border-box;
    padding-left: 20px;
    background-color: $gray;
    border: $area-border;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
  }

  &__recipient-photo {
    margin-right: 20px;
    @include circle(50px);

    @media (max-width: 700px) {
      margin-left: 15px;
    }
  }

  &__avatar-label {
    @include label;
    @include label-position(57px, 17px);

    @media (max-width: 700px) {
      @include label-position(96px, 17px)
    }
  }

  &__recipient-name {
    color: #0d0d0d;
  }

  &__chat-body {
    box-sizing: border-box;
    border-left: $area-border;
    height: calc(100vh - #{$message-input-hight} - #{$recipient-header-hight});
    padding: 15px;
    overflow-y: auto;
  }
}

.back-to-dialogs {
  display: none;
  width: 24px;
  height: 19px;
  background: no-repeat url("../../images/back.svg");

  @media (max-width: 700px) {
    display: block;
  }
}
