.App {
  display: flex;
  height: 100vh;
}

.S9gUrf-YoZ4jf {
  transform: translate(-50%, -50%);
  top: 50vh;
  left: 50vw;
}

.sidebar {
  width: 350px;
  flex-shrink: 0;
  overflow: hidden;
}

.logo {
  position: relative;
  transform: translate(-50%, -150%);
  top: 50vh;
  left: 50vw;
}
